body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #A8B380;    
}


a:link {
  color: #A8B380;
  background-color: transparent;
  text-decoration: none;
}
main {
  flex-grow: 1;
}
nav a {
  color: #ffffff;           
  text-decoration: none; 
  font-weight: bold;       
  margin: 0 10px;           
}
nav a:hover {
  color: #A8B380;              
  text-decoration: underline;
}
.flex-container {
  display: flex;
  flex-wrap: wrap; /* This allows children to wrap */
  gap: 1.5rem; /* optional, adds space between boxes */
  justify-content: center;
  align-items: flex-start; /* aligned at top */
}

.flex-container > div {
  flex: 1 1 300px;
  padding: 10px;
  border: 2px solid #100c08;
  border-radius: 5px;
  box-sizing: border-box; /* helps keep padding inside size */
  text-align: center; /* centers the image */
}

/* make these shrink to content */
.why,
.downsides,
.solutions {
  flex: 0 0 auto;
  width: fit-content;
  max-width: none;
  margin: 0 auto;
  display: inline-block;
}
/* Make images responsive */
.flex-container img {
  max-width: 100%; /* never exceed container width */
  height: auto; /* keep aspect ratio */
  display: block; /* removes bottom gap */
  margin: 0 auto; /* center image */
}
.tenor-gif-embed {
  max-width: 400px;  /* set a maximum width */
  margin: 1rem auto; /* center it horizontally */
}
figcaption a {
    color: #A8B380; 
    text-decoration: underline;
}

/* --- colours --- */
.why {
    background-color: #3d315B;
    color: white;
}

.decluttering {
    background-color: #100C08;
    color: white;
}

.downsides {
    background-color: #3d315B;
    color: white;
}
.solutions {
    background-color: #673147;
    color: white;
}

a[href^="mailto:"] {
  color: white;             
  text-decoration: none;      
}

a[href^="mailto:"]:hover {
  color: #A8B680;           
}
